.unrounded[class|="phone"] {
    border-radius: 0;
}

.spacer-1em {
    height: 1em;
}

.hide {
    display: none;
}

.show {
    display: initial;
}

.userstuff .hidden {
    display: block;
}

.change-on-hover {
    display: inline-block;
    cursor: pointer;
}

.change-on-hover .original {
    display: inline;
}

.replacement {
  display: none;
}

.change-on-hover:hover .original {
  display: none;
}

.change-on-hover:hover .replacement {
  display: inline;
}

.message-force-corner-top-right {
    border-top-right-radius: 0.25em !important;
}

.message-force-corner-bottom-right {
    border-bottom-right-radius: 0.25em !important;
}

.message-force-corner-top-left {
    border-top-left-radius: 0.25em !important;
}

.message-force-corner-bottom-left {
    border-bottom-left-radius: 0.25em !important;
}

[class|="phone"] {
    display: block;
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    max-width: 24em;
    margin: auto;
    border-radius: 2em;
}

[class|="phone"] * {
    margin: 0;
    padding: 0;
}

.fixed[class|="phone"] {
    height: 44em;
}

.fixed > [class$="body"] {
    overflow: hidden;
}

.scrollable {
    scrollbar-width: none;
    overflow-y: scroll;
}

.phone-chat {
    display: flex;
    flex-direction: column;
    padding: 2em;
    background-color: black;
}

.chat-header {
    position: relative;
    padding-bottom: 0.5em;
    z-index: 2;
}

.chat-header::after {
    display: block;
    height: 1em;
    width: 100%;
    position: absolute;
    bottom: -1em;
    content: "";
    background-image: linear-gradient(black, transparent);
}

.chat-header-center {
    display: flex;
    flex-direction: column;
    margin-top: -1em;
    align-items: center;
}

.chat-name {
    margin-top: 0.4em;
    font-size: 1.25em;
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    padding: 0;
    line-height: 1.4;
}

.chat-activity-status {
    margin-top: 0.1em;
    font-size: 1em;
    color: #FFFFFF;
}

.chat-icon {
    display: block;
    height: 4em;
    width: 4em;
    border-radius: 50%;
}

.chat-icon-gc {
    position: relative;
    display: block;
    height: 4em;
    width: 4em;
}

.chat-icon-gc * {
    position: absolute;
    display: inline;
    height: 2.8em;
    width: 2.8em;
    border-radius: 50%;
}

.chat-icon-gc > :nth-child(1) {
    top: 0em;
    left: 0em;
}

.chat-icon-gc > :nth-child(2) {
    right: 0em;
    bottom: 0em;
    border: 0.15em solid black;
}

.chat-body {
    display: flex;
    flex-direction: column;
}

.chat-body.scrollable {
    padding-top: 1em;
    padding-bottom: 1em;
}

/* TODO: Try making this work */
/* 
.scrollable .chat-body::before {
    top: 0;
    position: sticky;
    content: "";
    display: block;
    height: 1em;
    background-image: linear-gradient(black, transparent);
}

.scrollable .chat-body::after {
    bottom: 0;
    position: sticky;
    content: "";
    display: block;
    height: 1em;
    background-image: linear-gradient(transparent, black);
}
*/

.chat-body > :not(:first-child) {
    margin-top: 0.75em;
}

.texter-gc {
    display: flex;
    flex-direction: column;
    position: relative;
    float: left;
}

.texter-gc > * {
    position: relative;
    left: 2.9em;
}

.texter-gc > :first-child {
    position: absolute;
    bottom: 0;
    left: 0;
}

.texter-name {
    font-size: 1em;
    font-weight: normal;
    text-decoration: none;
    color: #FFFFFF;
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    margin-left: 1em;
    padding: 0;
    line-height: 1.4;
}

.texter-icon {
    display: block;
    border-radius: 5em;
    height: 2.4em;
    margin-right: 0.5em;
    width: 2.4em;
}

[class|="message-body"] > p:has(img) {
    line-height: 0;
    clear: both;
}

[class|="message-body"] p:not(:has(img)) {
    display: block;
    border-radius: 1.1em;
    padding: 0.7em 1em;
    line-height: 1.4em;
    clear: both;
}

[class|="message-body"] img {
    border-radius: 1.1em;
    max-width: 16em;
    clear: both;
}

[class|="message-body"] :not(:first-child):not(.texter-name) {
    margin-top: 0.25em;
}

.message-body * {
    float: left;
    margin-right: 2em;
}

.message-body p {
    max-width: 12em;
    background-color: #F0F0F0;
    color: #000000;
}

.message-body p:not(:last-child) {
    border-bottom-left-radius: 0.25em;
}

.message-body p:not(:first-child) {
    border-top-left-radius: 0.25em;
}

.message-body-right * {
    float: right;
    margin-left: 2em;
}

.message-body-right p:not(:has(img)) {
    max-width: 14em;
    background-color: #0099ff;
    color: #ffffff;
}

.message-body-right p:not(:last-child) {
    border-bottom-right-radius: 0.25em;
}

.message-body-right p:not(:first-child) {
    border-top-right-radius: 0.25em;
}

.chat-actions {
    color: #7B7C80;
    text-align: center;
    font-size: 0.8em;
}

.chat-actions :not(:first-child) {
    margin-top: 0.75em;
}

[class|="chat-read-receipt"] {
    position: relative;
    top: -0.25em;
    color: #FFFFFF;
}

.chat-read-receipt-left {
    margin-left: 0.75em;
    text-align: left;
}

.chat-read-receipt-left-gc {
    margin-left: 3.5em;
    text-align: left;
}

.chat-read-receipt-right {
    margin-right: 0.75em;
    text-align: right;
}

.chat-footer {
    position: relative;
    padding-bottom: 0.5em;
}

/* FIXME: fix the extra space when footer is by itself (e.g. the "Cathy is typing..." part in Mate in 4) */
.chat-footer::before {
    content: "";
    display: block;
    height: 1em;
    width: 100%;
    position: absolute;
    top: -1em;
    background-image: linear-gradient(transparent, black);
}

.chat-footer div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

[class|="chat-textbox"] {
    width: 100%;
    padding: 0.8em 1em;
    color: #ffffff;
    border: #ffffff2d solid 0.1em;
    border-radius: 1.1em;
    text-align: left;
}

/* NOTE: Empty elements are cleared from AO3 */
.chat-textbox:empty::before {
    content: "Start typing";
    color: #a0a0a0;
}

.chat-textbox-empty {
    color: #a0a0a0;
}

.chat-typing-indicator {
    position: absolute;
    bottom: -1em;
    left: 1em;
    color: #FFFFFF;
    text-align: left;
}

.chat-ui-button-back {
    height: 1.5em;
    position: absolute;
    top: 0em;
}

.chat-ui-button-back:hover {
    height: 1.5em;
    position: absolute;
    top: -0.4em;
    left: -0.4em;
    padding: 0.4em;
    border-radius: 0.5em;
    background-color: rgba(255, 255, 255, 0.25);
}

.chat-ui-button-info {
    height: 1.5em;
    position: absolute;
    top: 0em;
    right: 0.25em;
}

.chat-ui-button-info:hover {
    height: 1.5em;
    position: absolute;
    top: -0.4em;
    right: -0.15em;
    padding: 0.4em;
    border-radius: 0.5em;
    background-color: rgba(255, 255, 255, 0.25);
}

.chat-ui-button-send {
    height: 2em;
    margin-left: 0.75em;
    opacity: 0.35;
}

.chat-ui-button-send:hover {
    height: 2em;
    margin-left: 0.75em;
    opacity: 1;
}
